<div class="mat-typography mat-app-background">
    <app-menu [appName]="appName" [connected]="connected" class="fixed-topnav"></app-menu>
    <mat-sidenav-container [class.sidenav-padding]="navService.Visible" (backdropClick)="backdropClick()" fullscreen>
        <mat-sidenav #appDrawer mode="over" [opened]="navService.NavExpanded" style="padding-top: 65px;width: 250px;">
            <div class="platform-menu">
                <button color="accent" mat-raised-button [matMenuTriggerFor]="platformSelect"
                    class="platform-menu-button">
                    Selected Platform:
                    <!-- {{platformService.ActivePlatform === null ? 'None' : platformService.ActivePlatform.Name}} -->
                </button>

                <mat-menu #platformSelect="matMenu" style="width: 100%;">
                    <button mat-menu-item *ngFor="let platform of appDataService.data.Platforms.Value" (click)="SelectPlatform(platform)">
                        {{platform.Name}}
                    </button>
                </mat-menu>
            </div>
            <mat-nav-list>
                <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <div class="nav-container" [class.nav-screen-mode]="!navService.Visible">
            <div *ngIf="navService.Visible" style="height: 100%; width: 100%">
                <mat-progress-bar *ngIf="loading" style="width: 100%;height: 100%;" mode="indeterminate">
                </mat-progress-bar>
            </div>
            <div id="appBody">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-container>
</div>