@import '~@angular/material/theming';
//$material-design-icons-font-path: '../node_modules/material-design-icons-iconfont/dist/fonts/MaterialIcons-Regular';
@import '../node_modules/material-design-icons-iconfont/dist/material-design-icons.css';
// Plus imports for other components in your app.
// @import 'plates.scss';
// @import 'breakpoints.scss';
// @import 'styles/table.scss';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

$app-primary: mat-palette($mat-blue, 600);
$app-accent: mat-palette($mat-green, 700);
$app-warn: mat-palette($mat-deep-orange, 800);
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
$bg: map-get($app-theme, background-color);
$fg :map-get($app-theme, foreground-color);
@include angular-material-theme($app-theme);

$success:#85b63a;
.success {
    background: $success;
}

.snack-bar-success {
    background: $success;
    color: white;
    //color: black;
}

.snack-bar-failed {
    background: $warn;
    color: white;
}

.snack-bar {
    background-color: $bg;
    color: $fg;
}

body {
    height: 100%;
}

$danger:#b90012;
$danger-foreground:white;

.danger {
    background-color: $danger;
    color: $danger-foreground;
}

.lift-card-success {
    background-color: #356530;
}

.lift-card-failed {
    background-color: #91000f;
}

.lift-success {
    background-color: #48994a;
    //z-index: 10;
}

.lift-failed {
    background-color: #b90012;
    //z-index: 10;
}

.sticky-header {
    // position: sticky;
    z-index: 100 !important;
    background-color: $bg !important;

    &>th {
        background-color: $bg !important;
    }
}
// Include the default theme styles.
